[core]
	editor = code --wait

[credential]
	helper = store
	
[user]
	name = longtruong2604
	email = longtruong2604@gmail.com
[alias]
    co = checkout
    br = branch
    st = status -sb
    cm = commit -m
    tree = log --oneline --graph --all --decorate
	line = log --oneline
	last = log -1 HEAD
	amend = commit --amend --no-edit
	nline = log --oneline -n
	aa = add .
	fush = push --force
	pullf = reset --hard HEAD
	undo = reset --soft HEAD
    dev = "!f() { git checkout dev && git pull origin dev; }; f"
	stsh = stash push --keep-index -m  include unstaged only
	staash = stash push --include-untracked -m # include untracked 
	staaash = stash push --all -m # include ignored
	f = fetch
	upstream = push --set-upstream origin
[init]
	defaultBranch = main
